/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Pacifico&family=Ubuntu&family=Ubuntu+Mono&display=swap');
/* 
font-family: 'Crete Round', serif;
font-family: 'Pacifico', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Mono', monospace; */

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    /* box-sizing: content-box; */
}

/* body{} */

a{
    text-decoration: none;
    color: initial;
}

img{
    width: fit-content;
    max-width: 100%;
    height: fit-content;
}

header{
    /* background-color: rgba(20, 20, 20, 0.795); */
    background-color: white;
    color: black;
    display: block;
    width: 100vw;
    position: fixed;
    top: 0;
    padding: 2em;
    padding-right: 8vw;
}
#logo{
    font-family: 'Pacifico';
    font-size: xx-large;
    margin: 0;
    position: absolute;
    top: calc(50% - 1em);
}

header>nav{
    padding-right: 2em;
    display: block;
    width: fit-content;
    float: right;
}
header>nav>a{
    padding: 1em 2em;
    color: black;
    text-transform: capitalize;
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
}
section{
    margin: 2em;
    padding: 1em;
}
#about{
    position: relative;
    margin-top: 8em;
    display: flex;
}
#about>section{
    width: 30vw;
}
#about h1{
    font-family: 'Ubuntu';
    font-size: 4em;
    font-weight: bold;
    text-decoration: underline;
}
#about h2{
    letter-spacing: 0.45rem;
}
#about figure{
    position: relative;
    margin: auto;
    z-index: 2;
    display: block;
    background: url("../images/dp2.jpg");
    background-size: contain;
    width: clamp(18vw, 18vw, 100%);
    aspect-ratio: 1/1;
    border: none;
    border-left: 0.5em outset black;
    border-radius: 1em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#about figures::after{
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    border-left: 3em solid transparent;
    border-top: 3em solid transparent;
    border-right: 3em solid green;
    border-bottom: 3em solid green;
    top: 0;
    right: 0;
    outline: 2px solid firebrick;
    transform: rotate(90deg) rotateY(180deg) scaleX(0.6) translateY(-100%);
}
#about blockquote{
    color: rgba(128, 128, 128, 0.671);
    width: 70%;
    margin-top: 1em;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5em;
}

:where(#about) section, aside{
    width: auto;
}